{% extends 'store/main.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!-- The colors that are commented out were just so I could visibly tell where things were -->

<style>
    .main-container {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        padding: 20px;
        /* background-color: #e8dd01;  /* Yellow background */
    }

    .inner-column-container { /* This displays elements in a column*/
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        padding: 20px;
        /* background-color: #7a4bf0;  /* Purple background */
    }

    .inner-row-container { /* This displays elements in a row */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        border: 2px solid #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        /* background-color: #af020f;  /* Red background */
    }

    .inner-row-container2 { /* This displays elements in a row */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        /* background-color: #af020f;  /* Red background */
    }

    .user-profile-container {
        display: flex;
        gap: 10px;
        padding-top: 30px;
        max-width: 50%; 
        width: 100%;
        /* background-color: #b1615a;  /* Red brown background */
    }

    .user-profile-picture-box {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        /* background-color: #097cd6; /* Light blue background */
        padding: 10px;
        max-width: 30%; 
        width: 100%;
    }

    .user-profile-info-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
        /* background-color: #372e5e; /* Dark purple background */
        padding: 10px;
        max-width: 30%; 
        width: 100%;
    }

    .user-profile-info-box hr {
        width: 100%;
        border: none;
        margin-bottom: 0px;
    }

    .order-box {
        text-align: center;
        padding: 10px;
        border: 2px solid transparent; /* Ensure border is transparent */
        border-radius: 10px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Inner shadow effect */
        max-width: 40%; 
        width: 100%;
        /* background-color: #90ee90; /* Light green background */
    }

    .card-container {
        position: relative; /* Required for absolute positioning */
        display: flex;
        flex-direction: column;
        min-width: 330px;
        height: 250px;
        border: 2px solid #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .cards-wrapper {
        display: flex;
        scroll-snap-type: x mandatory; /* Snap to each card */
        height: 155px;
    }

    .cards-wrapper#orders {
        display: flex;
        overflow-y: auto;
        height: 100px;
        flex-direction: column;
    }

    .cards-wrapper#balance-wrapper {
        display: flex;
        overflow-y: auto;
        height: 150px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-text {
        text-align: center; /* Center-align text */
        padding-top: 20px;
    }

    .card {
        flex: 0 0 auto; /* Allow cards to shrink to fit content */
        position: absolute;
        min-width: 280px; /* Set a minimum width if needed */
        max-width: 400px;
        height: 150px;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

    .card#order-card {
        flex: 0 0 auto; /* Allow cards to shrink to fit content */
        position: absolute;
        width: 29%;
        height: 9%;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

    .hidden-btn#open-add-payment-popup,.hidden-btn#open-add-shipping-popup,.hidden-btn#view-order {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1;
    }

    .hidden-btn#open-edit-payment-popup,.hidden-btn#open-edit-shipping-popup {
        position: absolute;
        top: 50%;
        left: calc(50% - 40px); /* Adjust the value (- 40px) to position the "Add" button to the left */
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1;
    }
    
    .hidden-btn#open-delete-payment-popup,.hidden-btn#open-delete-shipping-popup {
        position: absolute;
        top: 50%;
        left: calc(50% + 40px); /* Adjust the value (+ 40px) to position the "Delete" button to the right */
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1;
    }

    .hidden-btn img {
        width: 50px; /* Set the width of the image */
        height: auto; /* Maintain aspect ratio */
    }

    #open-delete-payment-popup,#open-delete-shipping-popup img {
        transform: scale(1.5); /* Adjust the scale factor as needed */
    }

    #open-edit-payment-popup,#open-edit-shipping-popup img {
        transform: scale(0.75);
    }

    .card:hover {
        background-color: #c0c0c0;
    }

    .card:hover#order-card {
        background-color: #c0c0c0;
    }

    .card.active {
        position: absolute;
        z-index: 1;
    }

    .card:hover .hidden-btn {
        display: inline-block;
        outline: none;
        border: none;
        background: transparent;
    }

    .card:hover #open-add-payment-popup,
    .card:hover #open-delete-payment-popup,
    .card:hover #open-edit-payment-popup,
    .card:hover #open-add-shipping-popup,
    .card:hover #open-delete-shipping-popup,
    .card:hover #open-edit-shipping-popup,
    .card:hover #view-order {
        display: inline-block; /* Display the buttons on hover */
    }

    
      
    .prev-btn,
    .next-btn {
        position: absolute;
        top: 50%; /* Position the buttons vertically at the middle of the container */
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    .prev-btn {
        left: 0;
        transform-origin: center left; /* Adjust transform origin */
    }
    
    .next-btn {
        right: 0;
        transform-origin: center right; /* Adjust transform origin */
    }
    
    .card-info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .card-info#shipping-card {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 0px;
    }
      
    .card-info label {
        font-weight: bold;
        margin-right: 5px;
    }
      
    .credit-card-number {
        font-size: 18px;
        font-weight: bold;
    }

    /* Popup stuff */

    .popup#delete-payment-popup,
    .popup#edit-payment-popup,
    .popup#add-payment-popup,
    .popup#delete-shipping-popup,
    .popup#edit-shipping-popup,
    .popup#add-shipping-popup {
        display: none; /* Initially hide the popup */
        position: fixed;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Center the popup */
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 3; /* Set a high z-index to ensure popups appear above other content */
    }

    /* Close button styles */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Show the popup when the URL hash matches its ID */
    .popup:target {
        display: block;
    }

    .popup-content {
        background-color: #fff;
        transform: translate(50%);
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    .popup-content#delete-payment-popup-content,
    .popup-content#delete-shipping-popup-content {
        background-color: #fff;
        transform: translate(50%,160%);
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index:4;
    }

    body.popup-open {
        overflow: hidden;
    }

    .close:hover {
        color: #f00; /* Change color on hover */
    }

    /* FONTS AND TEXT STUFF */
    .subtitle {
        color: #888; /* Light gray color */
        font-size: 0.9em; /* Smaller font size */
        font-weight: lighter; /* Lighter font weight */
    }
</style>



<div class="main-container"> <!-- START MAIN CONTAINER -->

    <div class="inner-column-container"> <!-- START INNER COLUMN CONTAINER -->
        <h2>My Account</h2>
        
        <div class="inner-row-container"> <!-- START INNER ROW CONTAINER -->

            
            <div class="user-profile-container"> <!-- START USER PROFILE CONTAINER -->

                <div class="user-profile-picture-box">
                    <!-- Add conditional here to display default if no image is tied to profile -->
                    <img src="{% static 'images/default-profile-icon.jpg' %}" alt="Default Profile Picture" width="100" height="100">
                    {{user.username}}
                    <p class="subtitle">Joined {{user.date_joined | date:"F j, Y"}}</p>
                </div>
                <div class="user-profile-info-box">
                    First Name:  <hr>
                    Last Name:  <hr>
                    Email:  <hr>
                </div>
                <div class="user-profile-info-box">
                    {{user.first_name}} <hr>
                    {{user.last_name}} <hr>
                    {{user.email}} <hr>
                </div>

            </div> <!-- END USER PROFILE CONTAINER -->
                
                <div class="order-box"> <!-- START ORDER BOX -->
                    <h4>Orders</h4>
                    <div id="orders" class="cards-wrapper">
                        {% for order in orders%}
                        <div id="order-card" class="card">
                            Order ID: {{order.id}}
                            Total: {{order.total}}
                            Refunded: {{order.is_refunded}}

                            <a href="{% url 'order' order_id=order.id %}">
                                <div id="view-order" class="hidden-btn">
                                    <img src="{% static 'images/eye-icon.png' %}" alt="View Order">
                                </div>
                            </a>
                        </div>

                        
                        {% endfor %}
                    </div>

                </div> <!-- END ORDER BOX -->
            
        </div> <!-- END INNER ROW CONTAINER -->
        
        <div class="inner-row-container2"> <!-- START INNER ROW CONTAINER2 -->
            
            <div id="payments" class="card-container">
                <div class="card-text">
                    <h5>Payment Methods</h5>
                </div>
                <div id="payment-cards" class="cards-wrapper">
                        {% for payment in payment_info %}
                            <div class="card {% if forloop.first %}active{% endif %}">
                                    <div class="credit-card-number">****-****-****-{{ payment.cardnumber|last_four }}</div>
                                    <div class="card-info">
                                    <label>Cardholder:</label>
                                    <span>{{ payment.cardholder }}</span>
                                </div>
                                <div class="card-info">
                                    <label>Expiration:</label>
                                    <span>**/**</span>
                                </div>
                                <div class="card-info">
                                    <label>CVV:</label>
                                    <span>{{ payment.cvv }}</span>
                                </div>

                                    <button id="open-edit-payment-popup" class="hidden-btn">
                                        <img src="{% static 'images/pencil-ui-circle.png' %}">
                                    </button>
                                
                                    
                                    <button id="open-delete-payment-popup" class="hidden-btn">
                                        <img src="{% static 'images/delete-icon.png' %}">
                                    </button>
                                
                            </div>

                            <div id="edit-payment-popup" class="popup">
                                <div id="edit-payment-popup-content" class="popup-content">
                                    <a href="#" id='close-edit-payment-popup' class="close">&times;</a>
                                    <h2>Edit Payment:</h2>
                                    <form method="post" action="{% url 'account' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="edit_payment_id" value="{{ payment.id }}">
                                        <div class="col-6">
                                          Cardholder:
                                          <input type="text" name="cardholder" class="form-control" value="{{ payment.cardholder }}">
                                          <br>
                                          Card Number:
                                          <input type="text" name="cardnumber" class="form-control" value="{{ payment.cardnumber }}">
                                          <br>
                                          Expiration:
                                          <input type="date" name="expiration" class="form-control" value="{{ payment.expiration }}">
                                          <br>
                                          CVV:
                                          <input type="text" name="cvv" class="form-control" placeholder="---" value="{{ payment.cvv }}">
                                          <br>
                                          Default:
                                          <input type="checkbox" name="is_default" class="form-control" placeholder="---" value ="{{ payment.is_default }}">
                                        </div>
                                        <button type="submit" name="action" value="process_edit_payment_form">Save Changes</button>
                                      </form>
                                </div>
                            </div>

                            <div id="delete-payment-popup" class="popup">
                                <div id="delete-payment-popup-content" class="popup-content">
                                    <a href="#" id='close-delete-payment-popup' class="close">&times;</a>
                                    <h2>Delete Payment:</h2>
                                    <h3>Are you sure?</h3>
                                    <form method="post" action="{% url 'account' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="delete_payment">
                                        <input type="hidden" name="delete_payment_id" value="{{ payment.id }}">
                                        <button type="submit">Delete</button>
                                      </form>
                                </div>
                            </div>
                            
                        {% endfor %}

                        <div class="card">
                            <button id="open-add-payment-popup" class="hidden-btn">
                                <img src="{% static 'images/plus-icon.png' %}">
                            </button>
                        </div>
                        
                        <div id="add-payment-popup" class="popup">
                            <div id="add-payment-popup-content" class="popup-content">
                                <a href="#" id='close-add-payment-popup' class="close">&times;</a>
                                <h3> Add Payment Method: </h3>
                                <form method="post" action="{% url 'account' %}">  
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="process_add_payment_form">
                                    <div class="form-group" id="cardholder">
                                        <label for="cardholder">Cardholder's Name</label>
                                        <input type="text" id="cardholder" name="cardholder" class="form-control" placeholder="Cardholder's Name">
                                    </div>
                                    <div class="form-group" id="cardnumber">
                                        <label for="cardnumber">Cardnumber</label>
                                        <input type="text" id="cardnumber" name="cardnumber" class="form-control" placeholder="Cardnumber">
                                    </div>
                                    <div class="form-group" id="expiration">
                                        <label for="expiration">Expiration</label>
                                        <input type="date" id="expiration" name="expiration" class="form-control">
                                    </div>
                                    <div class="form-group" id="cvv">
                                        <label for="cvv">CVV</label>
                                        <input type="number" id="cvv" name="cvv" class="form-control" placeholder="CVV (XXX)">
                                    </div>
                                    <div class="form-group" id="is_default">
                                        <label for="is_default">
                                        <input type="checkbox" id="is_default" name="is_default" class="form-check-label"> Default
                                        </label>
                                    </div>
                                    <button id="form-button" type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                
                    <!-- Navigation buttons -->
                    <button id="payment-prev-btn" class="prev-btn">
                        <img src="{% static 'images/arrow-circle-left.png' %}">
                    </button>
                    <button id="payment-next-btn" class="next-btn">
                        <img src="{% static 'images/arrow-circle-right.png' %}">
                    </button>
                    
                </div>
            </div>

            <div id="balance" class="card-container"> <!-- START ORDER BOX -->
                <div class="card-text">
                    <h5>Account Balance</h5>
                </div>
                <div id="balance-wrapper" class="cards-wrapper">
                    <form method="post" action="{% url 'account' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="new_balance"><h6>Balance: ${{ user.userprofile.balance }}</h6></label>
                            <input type="number" id="new_balance" name="new_balance" class="form-control" placeholder="Enter new balance">
                        </div>
                        <button type="submit" name="action" value="update_balance" class="btn btn-primary">Update Balance</button>
                    </form>
                </div>
                

            </div> <!-- END ORDER BOX -->

            <div id="shipping" class="card-container">
                <div class="card-text">
                    <h5>Shipping Methods</h5>
                </div>

                <div id="shipping-cards" class="cards-wrapper">
                    {% for shipping in shipping_info %}
                        <div class="card {% if forloop.first %}active{% endif %}">
                            
                            <div id="shipping-card" class="card-info">
                                <label>Street:</label>
                                <span>{{ shipping.street }}</span>
                            </div>
                            <div id="shipping-card" class="card-info">
                                <label>City:</label>
                                <span>{{ shipping.city }}</span>
                            </div>
                            <div id="shipping-card" class="card-info">
                                <label>State:</label>
                                <span>{{ shipping.state }}</span>
                            </div>
                            <div id="shipping-card" class="card-info">
                                <label>Zipcode:</label>
                                <span>{{ shipping.zipcode }}</span>
                            </div>
                            <div id="shipping-card" class="card-info">
                                <label>Country:</label>
                                <span>{{ shipping.country }}</span>
                            </div>

                            <button id="open-edit-shipping-popup" class="hidden-btn">
                                <img src="{% static 'images/pencil-ui-circle.png' %}">
                            </button>
                            
                            <div id="edit-shipping-popup" class="popup">
                                <div id="edit-shipping-popup-content" class="popup-content">
                                    <a href="#" id='close-edit-shipping-popup' class="close">&times;</a>
                                    <h3>Edit Shipping:</h3>
                                    <form method="post" action="{% url 'account' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="edit_shipping_id" value="{{ shipping.id }}">
                                        <div class="col-6">
                                          Street:
                                          <input type="text" name="street" class="form-control" value="{{ shipping.street }}">
                                          <br>
                                          City:
                                          <input type="text" name="city" class="form-control" value="{{ shipping.city }}">
                                          <br>
                                          State:
                                          <input type="text" name="state" class="form-control" value="{{ shipping.state }}">
                                          <br>
                                          Zipcode:
                                          <input type="text" name="zipcode" class="form-control" value="{{ shipping.zipcode }}">
                                          <br>
                                          Country:
                                          <input type="text" name="country" class="form-control" placeholder="Country" value="{{ shipping.country }}">
                                          <br>
                                          Default:
                                          <input type="checkbox" name="is_default" class="form-control" value ="{{ shipping.is_default }}">
                                          <br>
                                        </div>
                                        <button type="submit" name="action" value="process_edit_shipping_form">Save Changes</button>
                                      </form>
                                </div>
                            </div>
                            
                            <button id="open-delete-shipping-popup" class="hidden-btn">
                                <img src="{% static 'images/delete-icon.png' %}">
                            </button>

                            <div id="delete-shipping-popup" class="popup">
                                <div id="delete-shipping-popup-content" class="popup-content">
                                    <a href="#" id='close-delete-shipping-popup' class="close">&times;</a>
                                    <h2>Delete Shipping:</h2>
                                    <h3>Are you sure?</h3>
                                    <form method="post" action="{% url 'account' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_shipping_id" value="{{ shipping.id }}">
                                        <button type="submit">Delete</button>
                                      </form>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                    <div class="card">
                        <button id="open-add-shipping-popup" class="hidden-btn">
                            <img src="{% static 'images/plus-icon.png' %}">
                        </button>
                    </div>

                    <div id="add-shipping-popup" class="popup">
                        <div id="add-shipping-popup-content" class="popup-content">
                            <a href="#" id='close-add-shipping-popup' class="close">&times;</a>
                            <h3>Add Shipping Method:</h3>
                            <form method="post" action="{% url 'account' %}">  
                                {% csrf_token %}
                                <input type="hidden" name="action" value="process_add_shipping_form">
                                <div class="form-group" id="street">
                                  <label for="street">Street</label>
                                  <input type="text" id="street" name="street" class="form-control" placeholder="Street">
                                </div>
                                <div class="form-group" id="city">
                                  <label for="city">City</label>
                                  <input type="text" id="city" name="city" class="form-control" placeholder="City">
                                </div>
                                <div class="form-group" id="state">
                                  <label for="state">State</label>
                                  <input type="text" id="state" name="state" class="form-control" placeholder="State">
                                </div>
                                <div class="form-group" id="zipcode">
                                  <label for="zipcode">Zipcode</label>
                                  <input type="number" id="zipcode" name="zipcode" class="form-control" placeholder="Zipcode">
                                </div>
                                <div class="form-group" id="country">
                                  <label for="country">Country</label>
                                  <input type="text" id="country" name="country" class="form-control" placeholder="Country">
                                </div>
                                <div class="form-group" id="is_default">
                                  <label for="is_default">
                                    <input type="checkbox" id="is_default" name="is_default" class="form-check-label"> Default
                                  </label>
                                </div>
                                <button id="form-button" type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div> 
                    </div>

                    <!-- Navigation buttons -->
                    <button id="shipping-prev-btn" class="prev-btn">
                        <img src="{% static 'images/arrow-circle-left.png' %}">
                    </button>
                    <button id="shipping-next-btn" class="next-btn">
                        <img src="{% static 'images/arrow-circle-right.png' %}">
                    </button>

                </div>
            </div>
    
            

        </div> <!-- END INNER ROW CONTAINER2 -->
        

    </div> <!-- END INNER COLUMN CONTAINER-->
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            /* PAYMENT SWIPE BUTTONS*/
            const paymentPrevBtn = document.getElementById('payment-prev-btn');
            const paymentNextBtn = document.getElementById('payment-next-btn');
            const cardsPayment = document.getElementById('payment-cards').querySelectorAll('.card');
        
            let currentPaymentIndex = 0;
        
            paymentPrevBtn.addEventListener('click', () => {
                cardsPayment[currentPaymentIndex].classList.remove('active'); // Hide current active card
                currentPaymentIndex = (currentPaymentIndex - 1 + cardsPayment.length) % cardsPayment.length; // Update index
                cardsPayment[currentPaymentIndex].classList.add('active'); // Show new active card
            });
        
            paymentNextBtn.addEventListener('click', () => {
                cardsPayment[currentPaymentIndex].classList.remove('active'); // Hide current active card
                currentPaymentIndex = (currentPaymentIndex + 1) % cardsPayment.length; // Update index
                cardsPayment[currentPaymentIndex].classList.add('active'); // Show new active card
            });

            /* SHIPPING SWIPE BUTTONS */
            const shippingPrevBtn = document.getElementById('shipping-prev-btn');
            const shippingNextBtn = document.getElementById('shipping-next-btn');
            const cardsShipping = document.getElementById('shipping-cards').querySelectorAll('.card');
        
            let currentShippingIndex = 0;
        
            shippingPrevBtn.addEventListener('click', () => {
                cardsShipping[currentShippingIndex].classList.remove('active'); // Hide current active card
                currentShipping = (currentShippingIndex - 1 + cardsShipping.length) % cardsShipping.length; // Update index
                cardsShipping[currentShippingIndex].classList.add('active'); // Show new active card
            });
        
            shippingNextBtn.addEventListener('click', () => {
                cardsShipping[currentShippingIndex].classList.remove('active'); // Hide current active card
                currentShippingIndex = (currentShippingIndex + 1) % cardsShipping.length; // Update index
                cardsShipping[currentShippingIndex].classList.add('active'); // Show new active card
            });

            /* POPUP FUNCTIONS */
            function togglePopup(popupId, action) {
                const popup = document.getElementById(popupId);
                const body = document.body;
                const paymentPrevBtn = document.getElementById('payment-prev-btn');
                const paymentNextBtn = document.getElementById('payment-next-btn');
                const shippingPrevBtn = document.getElementById('shipping-prev-btn');
                const shippingNextBtn = document.getElementById('shipping-next-btn');

                if (action === 'open') {
                    console.log(`Open ${popupId} clicked`);
                    popup.style.display = 'block';
                    body.classList.add('popup-open'); // Add class to body to prevent overflow
                    // Decrease z-index of prev & next buttons
                    paymentPrevBtn.style.zIndex = '1';
                    paymentNextBtn.style.zIndex = '1';
                    shippingPrevBtn.style.zIndex = '-1';
                    shippingNextBtn.style.zIndex = '-1';
                } else if (action === 'close') {
                    console.log(`Close ${popupId} popup`);
                    popup.style.display = 'none';
                    body.classList.remove('popup-open'); // Remove class
                    // Increase z-index of prev & next buttons
                    paymentPrevBtn.style.zIndex = '';
                    paymentNextBtn.style.zIndex = '';
                    shippingPrevBtn.style.zIndex = '';
                    shippingNextBtn.style.zIndex = '';
                }
            }
            
            // Add event listeners for opening and closing payment popups
            document.getElementById('open-add-payment-popup').addEventListener('click', function() {
                togglePopup('add-payment-popup', 'open');
            });
            
            document.getElementById('close-add-payment-popup').addEventListener('click', function() {
                togglePopup('add-payment-popup', 'close');
            });
            
            document.getElementById('open-delete-payment-popup').addEventListener('click', function() {
                togglePopup('delete-payment-popup', 'open');
            });
            
            document.getElementById('close-delete-payment-popup').addEventListener('click', function() {
                togglePopup('delete-payment-popup', 'close');
            });
            
            document.getElementById('open-edit-payment-popup').addEventListener('click', function() {
                togglePopup('edit-payment-popup', 'open');
            });
            
            document.getElementById('close-edit-payment-popup').addEventListener('click', function() {
                togglePopup('edit-payment-popup', 'close');
            });
            
            // Add event listeners for opening and closing shipping popups
            document.getElementById('open-add-shipping-popup').addEventListener('click', function() {
                togglePopup('add-shipping-popup', 'open');
            });
            
            document.getElementById('close-add-shipping-popup').addEventListener('click', function() {
                togglePopup('add-shipping-popup', 'close');
            });
            
            document.getElementById('open-delete-shipping-popup').addEventListener('click', function() {
                togglePopup('delete-shipping-popup', 'open');
            });
            
            document.getElementById('close-delete-shipping-popup').addEventListener('click', function() {
                togglePopup('delete-shipping-popup', 'close');
            });
            
            document.getElementById('open-edit-shipping-popup').addEventListener('click', function() {
                togglePopup('edit-shipping-popup', 'open');
            });
            
            document.getElementById('close-edit-shipping-popup').addEventListener('click', function() {
                togglePopup('edit-shipping-popup', 'close');
            });
            
            
        });
    </script>


</div> <!-- END MAIN CONTAINER -->


{% endblock %}
