{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<p>Tickets</p>

<div class="container">
    <h2 class="text-center" style="color: #4f868c"> Tickets </h2>

    <div class="col-12 mx-auto text-center" >
        <h5> We are currently changing our approach to how we handle tickets.</h5>
        <h5> We will notify you when we are finished updating our website.</h5>
        <h5>In the meantime, please go to our FAQs paged if you need any help. </h5>
    </div>
</div>

{% endblock %}