{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="md-4">Add Listing</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Shoe Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Shoe Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="10">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price ($)</label>
                    <input type="number" class="form-control" id="price" name="price" min="0.01" max="5000" step="0.01">
                </div>
                <div class="mb-3">
                    <label for="size" class="form-label">Size</label>
                    <input type="number" class="form-control" id="size" name="size" min="1" max="99.9" step="0.1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="conditions" class="form-label">Condition</label>
                    <select class="form-select" id="conditions" name="condition">
                        {% for condition in conditions %}
                            <option value="{{ condition.id }}">{{ condition.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand</label>
                    <select class="form-select" id="brand" name="brand">
                        {% for brand in brands %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category" name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>                
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="#" class="btn btn-secondary">Save for Later</a>
        </div>
    </form>
</div>
{% endblock %}

