{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
          <div class="col-lg-6">
               <div class="box-element" id="form-wrapper">
                         <h2> Checkout </h2>
                         <hr>
                         <div id="user-info">
                              <h4>User Information:</h4>
                              <div id="user-name">
                                   <a>Username: {{request.user.username}}</a>
                              </div>
                              <div id="first-name">
                                   <a>First Name: {{request.user.first_name}}</a>
                              </div>
                              <div id="last-name">
                                   <a>Last Name: {{request.user.last_name}}</a>
                              </div>
                              <div id="email">
                                   <a>Email: {{request.user.email}}</a>
                              </div>
                         </div>
                         <hr>
                         <div id="shipping-info">
                              <h4> Shipping Information: </h4>
                              {% if shippinginfo %}
                              <div id="default-shipping">
                                   <p>Street: {{ shippinginfo.street }}</p>
                                   <p>City: {{ shippinginfo.city }}</p>
                                   <p>State: {{ shippinginfo.state }}</p>
                                   <p>Zip Code: {{ shippinginfo.zipcode }}</p>
                                   <p>Country: {{ shippinginfo.country }}</p>
                              </div>
                              {% else %}
                              <button>
                                   <a href="{% url 'shipping_methods' %}" class="btn btn-success">Add Shipping Method</a>
                              </button>
                              {% endif %}
                         </div>
                         <hr>
                         <div id="payment-info">
                              <h4> Payment Information: </h4>
                              {% if paymentinfo %}
                              <div id="default-payment">
                                   <p>Card Holder: {{ paymentinfo.cardholder }}</p>
                                   <p>Card Number: {{ paymentinfo.cardnumber }}</p>
                                   <p>Expiration: {{ paymentinfo.expiration }}</p>
                                   <p>CVV: {{ paymentinfo.cvv }}</p>
                                   <p>Balance: {{ paymentinfo.balance }}</p>
                              </div>
                              {% else %}
                              <button>
                                   <a href="{% url 'payment_methods' %}" class="btn btn-success">Add Payment Method</a>
                              </button>
                              {% endif %}
                         </div>
               </div>
          </div>
          <div class="col-lg-6">
               <div class="box-element">
                   <a class="btn btn-outline-dark" href="{% url 'cart' cart_id=request.user.shopping_cart.id %}">&#x2190; Back to Cart</a>
                   <hr>
                   <h2>Order Summary</h2>
                   <hr>
                   <div class="cart-row header">
                       <div style="flex:2;"><strong>Product</strong></div>
                       <div style="flex:2;"><strong>Name</strong></div>
                       <div style="flex:1;"><strong>Price</strong></div>
                       <div style="flex:1;"><strong>Quantity</strong></div>
                       <div style="flex:1;"><strong>Total</strong></div>
                   </div>
                   {% for item in cart_items %}
                   <div class="cart-row">
                       <div style="flex:2;"><img class="row-image" src="{{ item.shoe.image.url }}"></div>
                       <div style="flex:2;"><p>{{ item.shoe.name }}</p></div>
                       <div style="flex:1;"><p>${{ item.shoe.price }}</p></div>
                       <div style="flex:1;"><p>{{ item.quantity }}</p></div>
                       <div style="flex:1;"><p>${{ item.subtotal }}</p></div>
                   </div>
                   {% endfor %}
                   <h5>Items: {{ total_items }}</h5>
                   <h5>Total: ${{ total_price }}</h5>
                   <form id="form" method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Checkout</button>
                   </form>
               </div>
           </div>           
     </div>
{% endblock content %}
