{% extends 'store/main.html' %}
{% load static %}

{% block content %}
{% endblock %}



<!--------Modals-------->
<!--Contact US Modal-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
        Contact Us
    </button>

    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">                
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                          <label for="subject" class="form-label">Subject</label>
                          <input type="text" class="form-control" id="subject" placeholder="Enter the subject">
                        </div>
                        <div class="mb-3">
                          <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send Message</button>
                </div>
            </div>
        </div>
    </div>

  

    <!--Footer-->
    <footer class="bg-dark text-light py-5">
        <div class="container">
            <h3>ShoeBae. Affordability and quality at your fingertips.</h3>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="important">About</h3>
                    <ul class="list-unstyled">
                        <li>Website Navigation</li>
                        <li>How ShoeBae Works</li>
                        <li><a href="FAQ.html" class="text-light">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="important">Help</h3>
                    <ul class="list-unstyled">
                        <li>Help Center</li>
                        <li><a href="#" class="text-light" data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a></li>
                        <li><a href="#" class="text-light" data-bs-toggle="modal" data-bs-target="#sizeGuideModal">Size Guide</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="important">Languages</h3>
                    <ul class="list-unstyled">
                        <li>English</li>
                        <li>Español</li>
                        <li>Türkçe</li>
                    </ul>
                </div>
            </div>
        </div>
            <p class="text-left">&copy; 2024 Online Shoe Store. All rights reserved.</p>
    </footer> 