{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<!-- Slideshow container -->
<div id="headerCarouselIndicator" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#headerCarouselIndicator" data-slide-to="0" class="active"></li>
        <li data-target="#headerCarouselIndicator" data-slide-to="1"></li>
        <li data-target="#headerCarouselIndicator" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-75 mx-auto" src="{% static 'images/home/slideshow/SlideImg1.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color: white; background-color: rgba(0, 0, 0, 0.5); border-radius: 3px;">Quality shoes for those crazy adventures with friends!</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-75 mx-auto" src="{% static 'images/home/slideshow/Slide2.jpg' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color: white; background-color: rgba(0, 0, 0, 0.5); border-radius:3px;">Comfortable shoes for those endless miles of walking on campus.</h4>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-75 mx-auto" src="{% static 'images/home/slideshow/Slide3.jpg' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h4 style="color: white; background-color: rgba(0, 0, 0, 0.5); border-radius: 3px;">Get shoes for your kids in styles they will love!</h4>
            </div>
        </div> 
    </div>
    <a class="carousel-control-prev" href="#headerCarouselIndicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only" >Previous</span>
    </a>
    <a class="carousel-control-next" href="#headerCarouselIndicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" ></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!------------------------------------------------------------------>
<!--Welcome message-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div class="animation-container">
                <h1 class="welcome-text" style="color:#4f868c, font-size:100px;">Welcome to ShoeBae</h1>
            </div>
        </div>
    </div>
</div>



<!-- Shopping Categories -->
<!--Categories
<section id="categories" class="container mt-5">
    <h2 class="text-center">Shop by Category</h2>
    <div class="row">
        <div class="col-md-4 md-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/sex/Men.webp' %}" class="card-img-top" alt="Men's Shoes">
                    <div class="card-body">
                        <p class="card-text">Men</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 md-4">
            <div class="card text-center">
                <a href="{% url 'store' %}">
                    <img src="{% static 'images/home/categories/sex/Women.webp' %}" class="card-img-top" alt="Women's Shoes">
                    <div class="card-body">
                        <p class="card-text">Women</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-md-4">
            <div class="card text-center">
                <a href="{% url 'store' %}">
                    <img src="{% static 'images/home/categories/sex/Kids.webp' %}" class="card-img-top" alt="Kids' Shoes">
                    <div class="card-body">
                        <p class="card-text">Kids</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="categories" class="container mt-5">
    <h2 class="text-center">Shop by Brand</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/AdidasImg.jpg' %}" class="card-img-top" alt="Adidas">
                    <div class="card-body">
                        <p class="card-text">Adidas</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/Converse.jpg' %}" class="card-img-top" alt="Converse">
                    <div class="card-body">
                        <p class="card-text">Converse</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/Nike.avif' %}" class="card-img-top" alt="Nike">
                    <div class="card-body">
                        <p class="card-text">Nike</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/OnCloud.jpg' %}" class="card-img-top" alt="On Cloud">
                    <div class="card-body">
                        <p class="card-text">On Cloud</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/Reebok.webp' %}" class="card-img-top" alt="Reebok">
                    <div class="card-body">
                        <p class="card-text">Reebok</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="men.html">
                    <img src="{% static 'images/home/categories/brand/UnderArmours2.jpeg' %}" class="card-img-top" alt="Under Armour">
                    <div class="card-body">
                        <p class="card-text">Under Armour</p>
                    </div>
                </a>
            </div>
        </div>
                    
    </div>
</section>

<section id="categories" class="container mt-5">
    <h2 class="text-center">Shop by Shoe Style</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="{% url 'store' %}">
                    <img src="{% static 'images/home/categories/type/Sneakers.jpg' %}" class="card-img-top" alt="Sneakers">
                    <div class="card-body">
                        <p class="card-text">Sneakers</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="{% url 'store' %}">
                    <img src="{% static 'images/home/categories/type/Boots.jpg' %}" class="card-img-top" alt="Boots">
                    <div class="card-body">
                        <p class="card-text">Boots</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <a href="{% url 'store' %}">
                    <img src="{% static 'images/home/type/Heels.webp' %}" class="card-img-top" alt="Heels">
                    <div class="card-body">
                        <p class="card-text">Boots</p>
                    </div>
                </a>
            </div>
        </div>

    

    </div> 
</section> -->

<!------------------------------------------------------------------>

<!-- Seller Testimonial Carousel -->
<section id="testimonials" class="container mt-5">
    <div id="testimonialCarouselIndicator" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#testimonialCarouselIndicator" data-slide-to="0" class="active"></li>
            <li data-target="#testimonialCarouselIndicator" data-slide-to="1"></li>
            <li data-target="#testimonialCarouselIndicator" data-slide-to="2"></li>
            <li data-target="#testimonialCarouselIndicator" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'images/SellerIcon.jpg' %}" alt="Seller Picture" class="img-thumbnail mx-auto d-block mb-3" style="width: 100px; height: 100px; border-radius: 50%;">
                        <p class="card-text">"I love selling with ShoeBae! The platform is user-friendly and provides great exposure for my products."</p>
                        <p class="card-text">George Santino, ShoeBae Seller</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'images/SellerIcon.jpg' %}" alt="Seller Picture" class="img-thumbnail mx-auto d-block mb-3" style="width: 100px; height: 100px; border-radius: 50%;">
                        <p class="card-text">"ShoeBae has helped me reach a wider audience and increase my sales significantly. Highly recommended!"</p>
                        <p class="card-text">Karen Smith, ShoeBae Seller</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static 'images/SellerIcon.jpg' %}" alt="Seller Picture" class="img-thumbnail mx-auto d-block mb-3" style="width: 100px; height: 100px; border-radius: 50%;">
                        <p class="card-text">"Selling with ShoeBae has been a breeze. The support team is responsive and helpful, and the platform is intuitive."</p>
                        <p class="card-text">Michael Sur</p>
                    </div>
                </div>
            </div> 
        </div>
        <a class="carousel-control-prev" href="#testimonialCarouselIndicator" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonialCarouselIndicator" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-..." crossorigin="anonymous"></script>
    <script type="text/js" src="{% static 'js/home.js'}"></script>
</section> 

{% endblock content %}
