{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!--Product Image Carousel and seller info-->
        <div class="col-md-6">
            <div class="mb-3 mt-5">
                <img src="{% static 'images/SellerIcon.jpg' %}" alt="Seller Picture" class="img-thumbnail me-2" style="width: 50px; height: 50px; border-radius: 50%;">
                Seller: {{shoe.seller.username}}
                <button type="button" class="btn btn-outline-primary btn-sm ms-3">Follow </button>
            </div>
            <div class="shoe_image">
                <img src="{{ shoe.image.url }}">
            </div>
        </div>
        <!--Product Information-->
        <div class="col-md-6">
            <h2> Name: {{ shoe.name }}</h2>
            <p><strong>Brand:</strong> {{ shoe.brand }}</p>
            <p><strong>Category:</strong> {{ shoe.category }}</p>
            <p><strong>Shoe Size:</strong> {{ shoe.size }}</p>
            <p><strong>Condition:</strong> {{ shoe.condition }}</p>
            <p><strong>Listing Price ($):</strong> {{ shoe.price }}</p>
            <div class="mb-3">
                <button type="button" class="btn btn-primary me-3">Add to Cart</button>
                <button type="button" class="btn btn-secondary">Save for Later</button>
            </div>
        </div>
    </div>

    <!--Reviews/Ratings and Comment Section-->
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Reviews and Ratings</h3>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p><strong>User1:</strong> Great product! Highly recommend.</p>
                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                    </div>
                    <div>
                        <p><strong>User2:</strong> Average quality, but decent price.</p>
                        <div class="rating">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9734;</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-md-4">
                    <h3>Comments</h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
