<!DOCTYPE html>
<html lang="en">

<head>
    <title> ShoeBae </title>
    <link rel="icon" href=""> 
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <nav> 
        <ul>
            <li><a href="#"> Home</a></li>
            <li><a href="#">About</a></li>
            <li class="search-container">
                <form action="/search" method="get">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit">Search</button>
                </form>
            </li>
            </ul>
    </nav>



    <footer> 
        <h2> ShoeBae. Affordablity and quality at your finger tips. </h2>

        <h3 class="important"> About </h3>
        <p> How It Works </p>
        <p> Frequently Asked Questions </p>
        <p> Website Navigation </p> 

        <h3 class="important"> Help</h3>
        <p> Help Center </p>
        <p> Contact Us </p>
        <p> Size Guide </p>

        <h3 class="important"> Languages </h3>
        <p> English</p>
        <p> Español </p>
        <p> 日本語 </p>
        <p>  中文 </p>
        <p> Türkçe </p>

    </footer> 



    <script src="index.js"></script>
</body>


</html>