html{
    height: 100%;
    width: 100%;
}

body{
    background-color: beige;

    font-family:'Courier New', Courier, monospace;
    /*
    font-size: ;
    color: ;
    */ 
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
/* Part 1: Navbar */
/* General style rule set for all items in ul */
nav ul {
    display: flex;
    position: fixed;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    max-height: 10%;
    margin-bottom: 5px;
    justify-content: space-evenly;
    overflow: hidden;
}
  /* Style rule set for individual li */
nav ul li {
    float: left;
  margin: 10px;
}
  /* Style rule set for individual li link */
nav ul li a {
    font-family: sans-serif;
    color:white;
    font-size: 25px;
    text-decoration: none;
}
  
  /* Style rule set for hovered link */
nav ul li a:hover {
    font-weight: bold;
}


footer{
    background-color: green;
    width: 100%;
}
