/*header*/
header{
  position: sticky;
  top:0;
  left:0;
  background-color: #0b0742;
  color: white;
  text-align: center;
  width: 100%;
  height: 8vh;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2.5vh;
}
header a{
  color:white;
  text-decoration: none;
}
header h1{
  font-size: 5vh;
  float:left;
  margin-top: 0;
  padding-top: 1.0vh;
  padding-left: 1.0vh;
}

/*Footer*/
footer{
  background-color: #0b0742;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 0;
  padding: 2.5%;
  padding-bottom: 2vh;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hoover{
  color: #ff9190;
  opacity: 0.8;
}
footer a:visited{
  color: #ff9190;
  text-decoration: underline;
}

.centered-sections {
  display: flex;
  justify-content: space-evenly; 
  margin-bottom: 20px; /* Add space at the bottom */
}

.footer-section {
  flex: 1;
  margin-right: 20px; /* Adjust margin as needed */
}

.footer-section:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.footer-section h3 {
  display: block;
  text-align: left;
}

.footer-section p {
  display: block;
  text-align: left;
}
