{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQs ShoeBae </title>
    <link rel="stylesheet" href="help.css">
    <script src="help.js"></script>

    <script src="{% static 'js/help.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
</head>

<body>

    <div class="sidenav">
        <a href="#About.html">About</a>
        <a href="#FAQ.html">FAQs </a> 
        <a href="#NavigationGuide.html">Website Navigation Guide </a>
    </div>
      
    <div class="main">

        <h1>Frequently Asked Questions </h1>

        <button class="accordion">What is ShoeBae?</button>
        <div class="panel">
            <p>ShoeBae is shoe-selling platform designed with college students in mind.
            </p>
        </div>

        <button class="accordion">What if I'm having problems with the website?</button>
        <div class="panel">
            <p>We are sorry to hear you are having problems. If this is a technical issue, please go to technical support by clicking here. 
            If you are having trouble with our products or sellers, please contact customer support by clicking here. 
            If you are not sure how to navigate our site, click here to be redirected on how to navigate ShoeBae for the best shopping experience.
            </p>
        </div>

        <button class="accordion">How do I know I'm getting Quality Shoes?</button>
        <div class="panel">
            <p>Shoes on our website go through a quality assurance test before they are put on selling.
            If you have any concerns with the quality of our products we encourage you to reach our to our sellers.
            They will answer any questions with regards to the quality and integrity of their products. 
            </p>
        </div>

        <button class="accordion">How do the products get priced?</button>
        <div class="panel">
            <p>Products are based on the quality of the shoe and it's orginal price. </p>
        </div>

        <button class="accordion">How do I become a seller? </button>
        <div class="panel">
            <p>We're glad your interested in becoming a seller! However, this is no small task.
            Our sellers go through a rigourous application process to ensure our buyers peace of mind while browsing ShoeBae.</p>
            <p>In order to become a seller, one must complete the seller application. The application has a $100 fee. 
            This is for the convenience of our admin and to ensure the seriousness of the applicant in wanting to become a seller.</p> 
            <p>First, a prospective seller must complete an aptitude test to see if he/she is a good match for our site. 
            Once you pass this test, one will be asked to ship the admin some of our products to ensure their integrity.</p> 
            <p>If approved, congradulations! You would have then become a seller! 
            To start the seller application click here.</p> 
        </div>

        <button class="accordion">In the seller application fee refundable?</button>
        <div class="panel">
            <p> Currently the seller application fee is non-refundable. Please keep this in consideration when you decide to apply. </p> 
        </div>

        <button class="accordion">How do I apply for an ad-posting?</button>
        <div class="panel">
            <p> In order to apply for an ad-posting, one MUST be a seller. This application has a $50 non-refundable fee.
            In this application you will asked the following: </p>
                <p>1. How long will your application be on. (ex. 1 hour a day, 3 hours a day, etc.)</p>
                <p>2. How many times will your ad be posted. (twice a day, three times a day, etc.)</p>
                <p>3. The time of day it will be on. (ex. 2:00 a.m., 12.pm., etc.)</p>
                <p>4. What products will be on the ad posting.</p>
            <p>After this portion is completed, the admin will review the application. 
                The admin will check you reviews then approve or decline your application.
                If approved you will be given quote on based on your preferences with regards to the add posting. 
                You will then be able to make any changes. You will also be notified if you're time slots are in conflict with 
                those of others. 
            </p>
            <p>You will have three days to make the payment otherwise your time slots will be lost and give to other sellers.</p>
        </div>
    </div>

</body>
</html>
