{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeBae</title>
    <script src="{% static 'js/base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <button id="toggleSidebarBtn"> Sidebar</button>
        <div class="sidebar" id="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="accounts/register">Register</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Lists</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            <button id="closeSidebarBtn">Close</button>
        </div>

        <nav>
            <div class="logo">
                <a href="{% url 'home' %}"><img src="images/base/ShoeBae Logo.jpg Logo.jpg" alt="Logo"></a>
            </div> 
            <div class="search">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="query" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="cart">
                <a href="{% url 'cart' %}">
                    <img src="images/base/Cart logo.jpg" alt="Cart">
                </a>
            </div>
        </nav>
    </header>

      
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
          <img src="{% static 'images/home/slideshow/msuwalking.jpg' %}" style="width:100%">
          <div class="text">Comfortable shoes for those endless miles of walking on campus.</div>
        </div>
  
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="{% static 'images/home/slideshow/crazyadventures.jpg' %}" style="width:100%">
          <div class="text">Quality shoes for those crazy adventures with friends!</div>
        </div>
  
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="{% static 'images/home/slideshow/kidswalking.jpg' %}" style="width:100%">
          <div class="text">Get shoes for your kids in styles they will love!</div>
        </div>
  
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
  
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>


    <!-- Shopping Categories -->   
    <section id="categories">
        <h2>Shop by Category</h2>
        <div class="row">
            <div class="category">
                <a href="men.html">
                    <img src="images/home/categories/Men's Shoes.webp" alt="Men's Shoes">
                    <p>Men</p>
                </a>
            </div>
            <div class="category">
                <a href="women.html">
                    <img src="images/home/categories/Women's Shoes.webp" alt="Women's Shoes">
                    <p>Women</p>
                </a>
            </div>
            <div class="category">
                <a href="kids.html">
                    <img src="images/home/categories/Kid's Shoes.webp" alt="Kids' Shoes">
                    <p>Kids</p>
                </a>
            </div>
        </div>

        <h2>Shop by Brand</h2>
        <div class="row">
            <div class="category">
                <a href="nike.html">
                    <img src="images/home/categories/Adidas Shoes.jpg" alt="Adidas">
                    <p>Adidas</p>
                </a>
            </div>
            <div class="category">
                <a href="adidas.html">
                    <img src="images/home/categories/Nike Shoes.webp" alt="Nike">
                    <p>Nike</p>
                </a>
            </div>
            <div class="category">
                <a href="under-armour.html">
                    <img src="images/home/categories/Under Armour Shoes.jpg" alt="Under Armour">
                    <p>Under Armour</p>
                </a>
            </div>
            <div class="category">
                <a href="images/home/categories/on-cloud.html">
                    <img src="On Cloud Shoes.jpg" alt="On Cloud">
                    <p>On Cloud</p>
                </a>
            </div>
            <div class="category">
                <a href="images/home/categories/reebok.html">
                    <img src="Reebok Shoes.jpg" alt="Reebok">
                    <p>Reebok</p>
                </a>
            </div>
            <div class="category">
                <a href="all-brands.html">
                    <img src="images/home/categories/Shop All Shoes.jpg" alt="all-brands">
                    <p>Shop All</p>
                </a>
            </div>
        </div>

        <h2>Shop by Shoe Type</h2>
        <div class="row">
            <div class="category">
                <a href="sneakers.html">
                    <img src="images/home/categories/Sneakers.jpg" alt="Sneakers">
                    <p>Sneakers</p>
                </a>
            </div>
            <div class="category">
                <a href="boots.html">
                    <img src="images/home/categories/Boots.jpg" alt="Boots">
                    <p>Boots</p>
                </a>
            </div>
            <div class="category">
                <a href="heels.html">
                    <img src="images/home/categories/Heels.webp" alt="Heels">
                    <p>Heels</p>
                </a>
            </div>
        </div>
    </section>

</body>
</html>