body{
    background-image: linear-gradient(to bottom right,#5e72eb , #120c6e);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

h1{
    margin: 5% auto;
    text-align: center;
    color: black;
    font-size: 35px;
}

.login-container {
    position: absolute;
    background-color: whitesmoke;
    width: 75vw;
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 3px;
}

form{
    text-align: left;
    width: 75%;
    top: 50%;
    left:50%;
}
form a{
    padding-left: 1vh;
}

label{
    display: block;
    color: black;
    text-align: left;
    margin-top: 10px;
}

input[type=text], input[type=password]{
    width: 100%;
    top:50%;
    left: 50%;
    padding: 12px 0;
    margin: 8px 0px;
    display: block;
    border: 1px solid #120c6e;
    border-radius: 2px;
    box-sizing: border-box;
}

/* Login Button */
.button-container{
    text-align: center;
}

button{
    background-color: #5e72eb;
    padding: 12px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
    font-size: 25px;
    width: 150px;
}

button:hover{
    opacity: 0.8;
}


/*links */
a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: purple
}

a:visited{
    color: darkblue;
    text-decoration: underline;
}